@import url('https://.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Playwrite+NZ+Basic:wght@100..400&family=Splash&family=UnifrakturMaguntia&display=swap');

:root {
    --primary-color: #4F46E5;     
    --accent-color: #38BDF8;   
    --text-color: #111827;       
    --link-color: #02399ee4;       
    --background-color: #F9FAFB;  
    --light-gray: #E5E7EB;        
    --gray: #9CA3AF;             
    --dark-gray: #4B5563; 
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
} 

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}

.header{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    font-weight: bolder;
    color: var(--text-color);
    text-decoration: none;
    transition: transform 1s ease-in-out;
}

.logo:hover{
    transform: perspective(200px) scale(1.1) rotateY(20deg);
    text-shadow: 0 10px 30px rgba(11, 31, 33, 0.35);
}

.logo-icon{
    width: 6rem;
}

.logo-text{
    font-size: 2.3rem;
    font-family: "Splash", cursive;
    font-weight: 400;
    color: rgba(190, 46, 46, 0.926);
}

.nav{
    display: none;
    gap: 1.5rem;
}

@media screen and (min-width:1075px){
    .nav{
        display: flex;
    }
}

.nav-link{
    color: #5f6e83;
    font-size: 1.18rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover{
    color: var(--link-color);
    text-shadow: 0 10px 30px rgba(34, 79, 83, 0.35);
}

.contact-button{  
    display: none;
    border: none;
    border-radius: 0.5rem;
    background: linear-gradient(
        135deg,
        #02389e,
        #00E5FF,
        #02389e
    );
    background-size: 200% 200%;
    background-position: left center;
    color: var(--background-color);
    transition: background-position 0.5s ease, transform 0.3s ease;
    padding: 0.8rem 1.4rem;
    font-size: 1.18rem;
    font-weight: 600;
}

@media screen and (min-width:1075px){
    .contact-button{
        display: block;
    }
}

.contact-button:hover{
    background-position: right center;
    transform: translateY(-2px);
    box-shadow: 0 10px 30px rgba(11, 31, 33, 0.35);
}

.menu-button{
    display: none;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--background-color);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.8rem 1.4rem;
}

@media screen and (max-width:1075px){
    .menu-button{
        display: block;
    }
}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}